<?xml version='1.0' encoding='UTF-8'?>
<robot name="cugo_v4_5_urdf">
  <link name="base_footprint">
    <inertial>
      <origin xyz="-0.016924 -0.11048 0.000166330000000007" rpy="0.0 -0.0 0.0"/>
      <mass value="29.0"/>
      <inertia ixx="0.079931" ixy="-0.026545" ixz="0.000120679999999998" iyy="0.19135" iyz="1.86389999999992e-05" izz="0.1787"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://cugo_v4_5_ros2_control/meshes/base_footprint.dae"/>
      </geometry>
      <material name="__unnamed_material_1"/>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267949003 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://cugo_v4_5_ros2_control/meshes/base_footprint.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267949003 -0.0 0.0"/>
    </collision>
  </link>
  <material name="__unnamed_material_1">
    <color rgba="0.75294 0.75294 0.75294 1.     "/>
  </material>
</robot>
