<?xml version='1.0' encoding='UTF-8'?>
<robot name="cugo_v4_5_urdf">
  <link name="base_footprint">
    <inertial>
      <origin xyz="-0.016934 -0.11048 0.000166470000000007" rpy="0.0 -0.0 0.0"/>
      <mass value="27.0"/>
      <inertia ixx="0.079659" ixy="-0.026748" ixz="-8.07850000000164e-06" iyy="0.18884" iyz="5.54729999999924e-06" izz="0.17643"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://cugo_v4_5_ros2_control/meshes/base_footprint.dae"/>
      </geometry>
      <material name="__unnamed_material_1"/>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267949003 -0.0 0.0"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://cugo_v4_5_ros2_control/meshes/base_footprint.stl"/>
      </geometry>
      <origin xyz="0.0 0.0 0.0" rpy="1.5707963267949003 -0.0 0.0"/>
    </collision>
  </link>
  <material name="__unnamed_material_1">
    <color rgba="0.79216 0.81961 0.93333 1.     "/>
  </material>
</robot>
