<?xml version="1.0"?>
<robot name="my_custom_cugo" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- cugo共通のurdf -->
  <xacro:include filename="$(find cugo_ros2_control2)/urdf/parts/cugov4_5_base.urdf.xacro" />
  <xacro:cugo_base />
  
  <!-- 任意のセンサを追加するurdf -->
  <!-- MID-360を追加する場合はurdf/parts/mid360.urdf.xacroを編集すること
  <xacro:include filename="$(find cugo_ros2_control2)/urdf/parts/mid360.urdf.xacro" />
  <xacro:mid360 />
  -->

  <!-- 任意の部品を追加する場合
  <xacro:include filename="$(find cugo_ros2_control2)/urdf/parts/your-parts.urdf.xacro" />
  <xacro:your-parts/>
  -->

</robot>
